body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

.content {
    padding: 20px;
    align-content: center;
}
body {
    text-align: center;

    margin: 0;
    background-image: url("./images/bg_img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }